html, body {
  background-color: aliceblue;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

button {
  background-color: aliceblue;
  width: 10rem;
  height: 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
}

button[disabled] {
  cursor: not-allowed;
}

button:not([disabled]):hover {
  background-color: pink;
}

label {
  text-transform: capitalize;

  &::after {
    content: '*';
    color: red;
  }
}

input {
  font-size: 1.25rem;
}