.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 15rem;
  border-radius: 2rem;
  box-shadow: #b4b2b2 5px 5px 7px 3px;
  background-color: beige;

  h1 {
    margin: 0;
  }

  .form {
    display: flex;

    input {
      margin-bottom: 1rem;
    }

    .formStep {
      width: 0%;
      overflow: hidden;
      transition: width 200ms ease-in-out, opacity 100ms ease-in-out;
      opacity: 0;

      &__active {
        width: 100%;
        opacity: 1;
      }
    }
  }
}