.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 10rem;
  border-radius: 2rem;
  box-shadow: #b4b2b2 5px 5px 7px 3px;
  background-color: beige;
  min-height: 15rem;

  h1 {
    margin: 0;
  }

  .form {
    display: flex;
  }
}