.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 5rem;
  border-radius: 2rem;
  box-shadow: #b4b2b2 5px 5px 7px 3px;
  background-color: beige;
  min-height: 15rem;
  min-width: 50%;
  max-width: 60rem;
  margin: auto 6rem;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }

  .form {
    display: flex;
    max-width: 25rem;
  }
}